BODY {
   background: #faf0e6
}
H1 { font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold }
H2 { font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold }
H3 { font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold }
H4 { font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold }
